{% extends 'base.html' %}

  {% block content %}
  {% include 'inc/header.html' %}

  <header>
    {% include 'inc/header.html' %}

    <div class="container mt-5">
      <div class="page-banner">
        <div class="row justify-content-center align-items-center h-100">
          <div class="col-md-6">
            <nav aria-label="Breadcrumb">
              <ul class="breadcrumb justify-content-center py-0 bg-transparent">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item active">GH BAY SHOP</li>
              </ul>
            </nav>
            <h1 class="text-center">Welcome to the SHOP</h1>
            <form class="mt-3" action="{% url 'search-product' %}" method="post">
            {% csrf_token %}
              <div class="input-group">
                <input style="background-color:transparent; border:none; border-bottom: 1px solid #6C55F9; box-shadow: none;" required name="prod_search" type="search" class="form-control search_input" id="searchproduct" placeholder="Search Product">
                <button style="background-color:transparent; border:none; " type="submit" class="input-group-text"> <i class="fa fa-search"></i> </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </header>

  <main>
    <div class="page-section" id="services">
      <div class="container">
          <div class="text-center">
              <h2 class="title-section">Collections</h2>
              <div class="divider mx-auto"></div>
          </div>
         <div class="row justify-content-center">
           {% for collection in collections %}
           <div class="col-6 col-lg-3 col-lg-auto py-3 wow fadeInLeft">
             <div class="card-pricing p-2">
               <div class="header">
                   <img style="width: 150px" src="{{collection.image.url}}" alt="">
               </div>
               <div class="body py-3">
                 <div class="price-tag">
                   {{collection.name}}
                 </div>
                 <div class="price-info">
                   <p>View products in this collection</p>
                 </div>
               </div>
               <div class="footer">
                 <a href="{% url 'collection_products' category_name=collection.name %}" class="btn btn-outline rounded-pill">View Products</a>
               </div>
             </div>
           </div>
           {% endfor %}
     </div>
      </div>
  </div> <!-- .page-section -->
  </main>

  {% include 'inc/footer.html' %}


{% endblock %}

{% block scripts %}

{% endblock scripts %}